body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    text-align: center;
    background: var(--container-background);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reset-container {
    margin-top: 20px;
}

#reset-password {
    padding: 5px;
    margin-right: 10px;
}

#reset-button, #theme-toggle {
    padding: 5px 10px;
    margin-top: 10px;
}

/* Light mode variables */
:root {
    --background-color: #FC4C02;
    --text-color: #fff;
    --container-background: #333;
}

/* Dark mode variables */
body.dark-mode {
    --background-color: #333;
    --text-color: #000000;
    --container-background: #FC4C02;
}
